.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    height: 100%;
}

.card-content {
    //border: 1px dotted red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.4);
}

/* Add some padding inside the card-desc */
.card-desc {
    //border: 1px dotted blue;
    padding: 2px 16px;
    height: 30%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    //flex: 1 1 auto;
}

.title {
    //border: 1px dotted red;
    margin: 0rem 1rem 0rem 1rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
}

.card-link {
    //border: 1px dotted red;
    width: 100%;
    height: 70%;
    border-radius: 5px 5px 0 0;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card-image {
    //border: 1px dotted purple;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: top center;
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
}