.sign-in {
    text-align: left;

    h3 {
        color: black;
        font-family: 'Lora', sans;
        font-size: 2rem;
        font-weight: 500;
        margin: 0.5rem 0rem;
        // word-spacing: 4px;
        // letter-spacing: 4px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        margin: 1rem 0rem;
    }
}