.sign-in-container {
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
}

.sign-header {
    color: white;
    font-family: 'Lora', sans;
    font-size: 2rem;
    font-weight: 500;
    // word-spacing: 4px;
    // letter-spacing: 4px;
}

.just-text {
    font-family: 'Open Sans', sans-serif;
}