.sign-in-page {
    // border: 1px dotted black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    padding: 1.5rem;
}

.sign-in-stlye {
    width: 40%;
}

.register-stlye {
    width: 40%;
}