.search-area-container {
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
    min-width: 310px;
}

.row-mode {
    flex-direction: row;
    padding: 0rem;
}

// .inspire-text {
//     // font-family: 'Open Sans', sans-serif;
//     // font-family: 'Gelasio', sans;
//     // font-weight: 400;
//     // font-size: 3rem;
// }

.search-box {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    width: 18rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:focus {
        outline: 0;
        content: "";
    }
}

.button {
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 4px;
    // box-shadow: 0 5px #f0134d;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    // margin-top: 15px;
    margin-bottom: 20px;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.only-margin-left {
    // margin-top: 0rem;
    // margin-right: 0rem;
    // margin-bottom: 0rem;
    // margin-left: 1rem;
    margin: 0rem 0rem 0rem 1.5rem;
}

