.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
  
  .logo {
    border: 0px solid red;
    width: 25%;
    height: 100%;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    flex: 1 1 25%;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .menu {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 3 1 75%;
    overflow: visible;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
  
    .menu-item {
      color: black;
      text-align: center;
      padding: 12px 24px;
      margin-left: 15px;
      text-decoration: none;
      width: 7rem;
      // overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      // flex: 1 1 7rem;

    }
  
    .menu-item:hover {
      opacity: 0.9;
    }
  
    .menu-item.marked {
      background-color: lightgray;
      border-radius: 20px;
      border: 0px solid black;
    }
  
    /* Hide the link that should open and close the topnav
    on small screens */
    .icon {
      display: none;
    }
  }
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style for ripple example */
.buttonx {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}


