.gallery-container {
    //border: 1px dotted blue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;

    .filters-style {
        // border: 1px dotted purple;
        width: 100%;
        animation: fadein3 0.3s forwards;
        position: relative;
    }
    
    @keyframes fadein3 {
        0% { opacity: 0; top: -20px;}
        100% { opacity: 1; top: 0px;}
    }
}
.cards-container {
    //border: 1px dotted purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    //align-content: center;
}
.card-container {
    //border: 1px dotted blue;
    min-width: 280px;
    //width: 20px;
    //max-width: 31%;
    height: 350px;
    margin: 0.8rem;
    flex: 0 0 31%;
    
}



@media only screen and (max-width: 1250px) {
    .card-container {
        flex: 0 1 46%;
        margin: 0.7rem;
        height: 310px;
    } 
}

@media only screen and (max-width: 700px) {
    .card-container {
        flex: 0 1 95%;
        margin: 0.6rem;
        height: 280px;
    } 
}