.register-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h3 {
        color: black;
        font-family: 'Lora', sans;
        font-size: 2rem;
        font-weight: 600;
        margin: 0.5rem auto;
        // word-spacing: 4px;
        // letter-spacing: 4px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        margin: 1rem 0rem;
    }

    .register-form {
        width: 100%;
        margin: 0rem 0rem 0rem 0rem;
        text-align: center;
    }

    .submit-btn {
        margin: 0.5rem auto;
    }

    .toggle-text {
        margin: 0.2rem auto;
        font-size: 0.9rem;
    }

    .link-text {
        text-decoration: none;
        color: blue;
        cursor: pointer;
    }
}