.register-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h3 {
        color: black;
        font-family: 'Lora', sans;
        font-size: 2rem;
        font-weight: 600;
        margin: 0.5rem auto;
        // word-spacing: 4px;
        // letter-spacing: 4px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .register-form {
        width: 100%;
        margin: 0rem 0rem 0rem 0rem;
        text-align: center;
    }

    .submit-btn {
        margin: 0.5rem auto 0.5rem auto;
    }

    .server-error-container {
        margin-top: -0.5rem;
        height: 1.6rem;
        // border: 1px dotted blue;
    }

    .server-error {
        font-family: 'Open Sans', sans-serif;
        color: red;
        // background-color: red;
        font-size: 1rem;
        font-weight: 600;
        // height: 1px;
        border: 1px dotted red;
    }

    .toggle-text {
        margin: 0.2rem auto;
        font-size: 0.9rem;
    }

    .link-text {
        text-decoration: none;
        color: blue;
        cursor: pointer;
    }
}