.get-inspirations {
    margin: 0px;
    position: relative;

    .cool-loading {
        animation: fadein6 2s ease-in-out;
        position: relative;
        width: 100%;
    }
    
    @keyframes fadein6 {
        0% { opacity: 0;}
        50% { opacity: 0;}
        100% { opacity: 1;}
    }
}