$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: $main-color;
}

.input-group {
  position: relative;
  //margin: 2rem auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .error {
    color: red;
    font-weight: 600;
    font-size: 0.9rem;
    //margin-right: 1rem;
    align-self: flex-end;
    height: 0.1rem;
    margin-top: 1px;
  }

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.2rem;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
