$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: $main-color;
}

.input-group {
  position: relative;
  margin: 1.5rem 0rem;
  font-family: 'Open Sans', sans-serif;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.2rem;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
